
p,li,h1 { /* Selector Elemento (HTML) */
    color: red;
    width: 500px;
    border: 1px solid black;
    font-family: 'Indie Flower', cursive;
}

#niveles { /*Selector de identidad (id)*/
    background-color: blueviolet;
}

.sin-borde { /*Selector de clase (class) */
    color: orange;
    background-color: azure;
    border: 0px;
}

#niveles:hover { /*Selector de pseudo-calse */
    background-color: aqua;
    color: black;
}

label [for] {
    color: royalblue;
}