form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid white;
}

h2{
    margin: 1 auto;
    width: 350px;
    padding: .5em;
    background-color: rgb(7, 140, 7);
}

div {
    margin: 0 auto;
    background-color: white;
}

input {
    margin: 1 auto;
    width: 350px;
    padding: 1em;
    background-color: rgb(208, 247, 208);
}

button {
    margin-left: 150px;
    width: 80px;
    padding: .5em;
    background-color: rgb(7, 140, 7);
    border-radius:5px; 

}

textarea {
    margin: 1 auto;
    width: 352px;
    padding: 1em;
    background-color: rgb(208, 247, 208);
}